.bg_left {
    background-color: hsl(var(--background));
    background-image: url('/assets/bg-login.png');
    background-position: center;
    background-size: cover;
}
:global(.light) .bg_left {
    background-color: hsl(var(--primary));
}